<div class="login-page">
  <div class="form">
    <div class="row">
      <div class="avatar">
        <img src="https://w7.pngwing.com/pngs/409/621/png-transparent-computer-icons-avatar-male-user-profile-others-logo-monochrome-silhouette.png" alt="Avatar">
      </div>
    </div>
    <div class="row">
      <div class="col">
        <h2>Iniciar sesión</h2>
      </div>
    </div>
    <form (submit)="login">
      <div class="row">
        <input type="text" formControlName="email" placeholder="Email">
        <input type="password" formControlName="email" placeholder="Contraseña">
      </div>
      <div class="row">
          <button type="submit">Acceder</button>
      </div>
    </form>
  </div>
</div>

